@{this.layout = null}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <header class="clearfix">
        <h1>Responsive CSS Timeline with 3D Effect <span>(Best viewed in WebKit browsers)</span></h1>
        <h2>Star Wars vs. Spaceballs <span>The final battle</span></h2>
        <div class="support-note">
            <span class="note-ie">Sorry, only modern browsers.</span>
        </div>
    </header>

    <section class="main">
        <ul class="timeline" id="timeline-container">
        </ul>
    </section>

</div><!-- /container -->

