/* 智能手机 (纵向 和 横向) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 760px) {
    /* Styles 手机端不会显示menu在此页面*/
    .navbar.navbar-default.navbar-fixed-top{
    display: none!important;
    }
    #timeline, #allmap { padding-top: 0px !important;}
}

/* 智能手机 (横向) ----------- */
@media only screen
and (min-width: 321px) {

    #timeline {
        border-left: 1px solid #518f8e;
    }
    #timeline, #allmap {
        height: 100%;
        width: 50%;
        float: left;
    }
}

/* 智能手机 (纵向) ----------- */
@media only screen
and (max-width: 500px) {
    /* Styles */
    #timeline {
        border-top: 1px solid #518f8e;
        border-left: 0px solid #518f8e;

    }
    #timeline, #allmap {
        height: 50%;
        width: 100%;
        float: left;
    }
}

/* iPad 系列 (纵向 和 横向) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    #timeline {
        border-left: 1px solid #518f8e;
        border-top: 0px solid #518f8e;
    }
    #timeline, #allmap {
        height: 100%;
        width: 50%;
        float: left;
    }
}

/* iPad 系列 (横向) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

}

/* iPad 系列 (纵向) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
}

/* 台式机 和 笔记本 ----------- */
@media only screen
and (min-width: 1224px) {
    #timeline {
        border-left: 1px solid #518f8e;
        border-top: 0px solid #518f8e;
    }
    #timeline, #allmap {
        height: 100%;
        width: 50%;
        float: left;
    }
}

/* 大屏幕 ----------- */
@media only screen
and (min-width: 1824px) {
    #timeline, #allmap {
        height: 100%;
        width: 50%;
        float: left;
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

}

#allmap {
    padding-top: 70px;
}

#timeline {
    padding-top: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.parent {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden !important;
}

::-webkit-scrollbar {
    display: none;
}

/* Styles */
