<div class="container-fluid detail-container">
    <div class="row">
        <div style="min-height: 800px;" class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2 detail-wrap">
            <div id="SOHUCS" sid="guestbook"></div>
            <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
            <script type="text/javascript">
                window.changyan.api.config({
                    appid: 'cyqARl5Jo',
                    conf: 'prod_07871915a8107172b3b5dc15a6574ad3'
                });
            </script>
        </div>
    </div>
    @this.renderPartial('./footer')
</div>
@this.renderPartial('./top')
<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/guestbook.js" charset="utf-8"></script>
<script>
    var tools = [2];
</script>
<script type="text/javascript" src="/javascripts/top.js" charset="utf-8"></script>