@{this.layout = null}
<div class="">
    <div class="col-md-4">
        <label for="addScenicsName">名称</label>
        <input type="text" class="form-control addScenicsName" id="addScenicsName" name='addScenicsName'
               placeholder="请输入名称">
    </div>
    <div class="col-md-4">
        <label for="addScenicsDate">时间</label>
        <div class="input-group">
            <input type="text" readonly="readonly" class="form-control form_datetime addScenicsDate" id="addScenicsDate"
                   name='addScenicsDate'
                   name="addScenicsDate" placeholder="">
            <span class="input-group-addon icon-remove" id="basic-addon2"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="col-md-4">
        <label for="addScenicsType">类型</label>
        <select class="selectpicker form-control addScenicsType" id="addScenicsType" name='addScenicsType'>
            <option>游玩</option>
            <option>吃喝</option>
            <option>下榻</option>
        </select>
    </div>

</div>

<script src="/javascripts/scenicInf.js"></script>